.navigation{
  &__checkbox{
    display: none;
  }

  &__button{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    position: fixed;
    top: 6rem;
    right: 6rem;
    background-color: $color-gray-light-1;
    z-index: 1000
  }

  &__background{
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient($color-primary-light, $color-primary-dark);
    z-index: 1000
  }
 
  
  &__nav{
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 1002;
    top: 0;
    left: 0;
  }
  &__list{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}